.container {
    background-color: white;
    height: 100vh;
    width: 100vw;

    display: grid;
    place-content: center;
    justify-items: center;


    .logo {
        padding-bottom: 100px;
        width: 875px;
    }


}

.hayotaLady {
    position: fixed;
    bottom: 0;
    right: 0;
}