.container {
    display: flex;
    flex-direction: column;
    
    width: 418px;

    .projectImage {
        width: 418px;
        height: 235.12px;
    }

    .projectTitleContainer {
        display: flex;
        flex-direction: row;

        justify-content: space-between;
        width: 100%;

        .projectTitle {
            color: white;
            font-size: 32.4467px;
            text-decoration-line: underline;
        }

        .description {
            color: white;
            font-size: 32.4467px;
        }
    }

}